<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/quotes" method="post">
      <fieldset>
        <legend>Submit a quote</legend>
        <label>Your name:</label>
        <input type="text" name="name" value="" /><br /><br />
        <label for="">Your quote:</label><br />
        <textarea name="comment"></textarea><br /><br />
        <input type="submit" value="Add my quote."/>
      </fieldset>
    </form>

  <a href="/quotes">Skip to quotes!</a>

  </body>
</html>
