.quoteBox {
  border: solid black 2px;
  padding: 5px;
  display: flex;
  margin: 3px
}

.quoteBox * {
  margin: 5px
}

.right {
  text-decoration: underline;
  color: blue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
