<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Destination</title>
    <style>

      body{
        font-family: sans-serif;
      }
    </style>
  </head>
  <nav>
    <div style="float:right">
    <a href="{% url 'travel:index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'login:logout' %}">Log Out</a>
  </div>
  <body>
    <h2>A Trip to {{data.dest}}</h2>
    <h4>By: {{data.user.name}}</h4>
    <p>{{data.desc}}</p>
    <p>Starting on {{data.dateFrom}}</p>
    <p>Ending on {{data.dateTo}}</p>
    <br /><br />
    <h3>Other Users</h3>
    {% for user in allUsers %}
    <p>{{user.user.name}}</p>
    {% empty %}
      No other Users!
    {% endfor %}
  </body>
</html>
