<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Wall</title>
        <style>
            .heading h1, h2{
                display: inline-block;
            }
        </style>
    </head>

    <body>
    <div class="heading">
        <h1>Coding Dojo Wall</h1>
        <h2>Welcome {{ user_fname }}</h2>
        <a href="/logout">Log Out</a>
    </div>
    <form class="" action="/postmessage" method="post">
      <textarea name="message">text</textarea><br />
    <input type="submit" name="submit" value="Submit">
    </form>
    <div class="posts">

                {% for message in data %}
                    <h2>{{message["fname"]}}&nbsp;{{message["lname"]}}&nbsp;|&nbsp;{{message["time"]}}</h2>
                    <p>{{message["message"]}}</p>

                  {% for comment in comments %}
                    {% if comment["message_id"] == message.id %}
                    <h3>{{comment["fname"]}}&nbsp;{{comment["lname"]}}&nbsp;|&nbsp;{{comment["time"]}}</h3>
                    <p>{{comment["comment"]}}</p>
                    {%endif%}
                  {%endfor%}
                    <form class="" action="/postcomment" method="post">
                      <input type="hidden" name="message_id" value="{{message['id']}}">
                      <textarea name="comment">comment</textarea><br />
                      <input type="submit" value="submit">
                    </form>
                {%endfor%}


    </div>

    </body>
</html><div class
