<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
</head>

<body>
  <a href="/logout" style="float: right">Log out</a>
  <h2>Hello, {{name}}!</h2>
  <form class="" action="{% url 'secret:post' %}" method="post">
    {% csrf_token %}
    <textarea placeholder="Your secret here..." name="secret" rows="8" cols="80" required></textarea><br />
    <input type="submit" name="" value="Post">
  </form>
  <a href="{% url 'secret:pop' %}">Most Popular Secrets...</a>
  <h3>Recent Secrets...</h3>
  {% for secret in data %}
    <p>
      <i>{{secret.secret}}</i> ({{secret.created_at}}) 0 likes <a href="secret/like/{{secret.id}}">Like</a>
    </p>
  {% endfor %}
</body>

</html>
